@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(90deg, rgba(29,203,253,1) 0%, rgb(255, 0, 255) 100%);
  
  --color-bg: #040C18;
  --color-footer : #0b1825;
  --color-text: #5889f2;
}

@font-face {
  font-family: sf-display;
  src: url('../src/fonts/SanFranciscoDisplay-Black.woff2');
}

@font-face {
  font-family: sf-ui-display;
  src: url('../src/fonts/SF-UI-Display-Regular.woff2') format('woff2');
}