.progress__footer {
    background-color: var(--color-footer);
    box-shadow: 0 0 40px 5px #c300ff;
}

.progress__footer-containers {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.progress__footer-containers img {
    width: 80%;
    height: 80%;
    -webkit-filter: invert(100%);
    /* Safari/Chrome */
    filter: invert(100%);
}

.progress__footer-containers__column {
    display: flex;
    flex-direction: row;
}

.progress__footer-containers__column h3 {
    justify-content: center;
    font-weight: 900;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;

    text-transform: uppercase;
}

.progress__footer-containers__column-about {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-left: 2rem;
}

.progress__footer-containers__column-about p {
    margin-top: 1rem;

    font-family: sf-display;
    color: var(--color-text);
}

.progress__footer-containers__column-sections,
.progress__footer-containers__column-contact {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    padding-left: 6rem;
}

.progress__footer-containers__column-sections p,
.progress__footer-containers__column-contact p {
    margin-top: 1rem;

    font-family: sf-display;
    font-size: 20px;
    color: darkgray;
}

.progress__footer-containers__column-sections p:hover,
.progress__footer-containers__column-contact p:hover {
    color: var(--color-text);
}

 @media screen and (max-width: 1080px) {

    .progress__footer-containers img {
        width: 40%;
        height: 40%;

        margin-left: 30%;
    }

    .progress__footer-containers {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
 }